.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'input-message', placeholder: 'type a message'
    .form__item
    = f.label :image, class: 'input-message__img' do
      = f.file_field :image, class: 'hidden', id: "message_image"
      = fa_icon 'picture-o', class: 'icon__picture-o'
    = f.submit 'Send', class: 'form__submit'