!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpaceProto
  %body

    .wrapper

      = render 'shared/side_bar'

      .chat-space
        
        .chat-header{"data-turbolinks": "false"}

          .current-group
            %h2.current-group__name
              = @group.name
            %ul.member-name
              Member:
              - @group.group_users.each do |group_user|
                = group_user.user.name
          = link_to 'Edit', edit_group_path(@group), class: "chat-header__edit-btn"

        .messages
          = render @messages

        = render 'form'